@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    min-height: 100vh;
	position: relative;
    background: linear-gradient(to bottom, #000428, #004683);
	font-family: 'Poppins', sans-serif;
}
.error{
	position: relative;
	border: 1px solid red;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}
@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}
.container .register {
    --c: blue;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.container .register span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.container .register:hover {
    color: black;
}

.container .register:hover span {
    transform: translateY(0) scale(2);
}

.container .register span:nth-child(1) {
    --n: 1;
}

.container .register span:nth-child(2) {
    --n: 2;
}

.container .register span:nth-child(3) {
    --n: 3;
}

.container .register span:nth-child(4) {
    --n: 4;
}