@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    min-height: 100vh;
	position: relative;
    background: linear-gradient(to bottom, #000428, #004683);
	font-family: 'Poppins', sans-serif;
}
.error{
	position: relative;
	border: 1px solid red;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}
@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}